# Sistema de getion de venta de la panaderia
mysql-connector-python==9.1.0 # base de datos
bcrypt==4.2.1 # seguridad
google-auth-oauthlib==1.2.1 #autenticacion OAuth 
google-auth==2.36.0
requests==2.32.3          # usado para las peticiones HTTP del login con Google
matplotlib==3.11.1 # graficas mbebidas en Tkinter 
pillow==11.0.0 #imagenes 
reportlab==4.2.5          # exportación a pdf
openpyxl==3.1.5           # exportación a excel
python-dotenv==1.0.1       # manejo de variables de entorno (.env) para credenciales
pytest==8.3.4